*{
    margin: 0%;
    padding: 0%;
    /* color: rgb(241, 241, 239); */
}
body{
    background: url("img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;                                         
    position: relative;
    background-repeat: no-repeat; 
}
.wrapper{
    width: 1170px;
    margin: auto;
}

.nav-area{
    float: left;
    list-style: none;
    margin-top: 10px;
    left: 0%;
    padding: 10px 16px;
}

.nav-area li{
    display: inline-block;
 
}

.nav-area li a{
    color: rgb(108, 209, 95);
    text-decoration: none;
    padding: 5px 30px;
    font-family: sans-serif;
    font-size: 25px;
    
  
}
.nav-area li a:hover{
    background: rgb(158, 194, 241);
    color: rgb(17, 22, 22);
}
.logo img{
    width: 140px;  
    float: left;
    margin: left 0%; 
    height: auto;
    border-radius: 50%; 
    margin-top: 0px; 
}
.welcome-text{
    position: absolute; 
    /* width: 900px;
    height: 400px; */
     margin: 30% 30%; 
    margin-top: 70px;
    font-size: 23px;
    color: white
}
.sidebar{
    position: absolute;
    
    width: 300px;
    left: 0%;
    top: 50%;
    background: black;
    height: 100%;
}
.sidebar .text{
    color: rgb(249, 250, 253);
    font-size: 20px;
    font-weight:600 ;
    line-height: 65px;
    text-align: center;
    background:  #BFC3BA;
    letter-spacing: 1px;
}
 nav ul{
    background: #BFC3BA;
    height: 100%;
    width: 100%;
    list-style: none;
} 
nav ul li{
    line-height: 60px;
    border-bottom: 1px solid rebeccapurple;
}
nav ul li a{
    color: rgb(41, 44, 250);
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent  ;
}
nav ul li a:hover{
    color: rgb(14, 17, 17);
    border-left-color: cyan;
   
}
nav ul ul{
    position: static;
   
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
    
}
nav ul ul li a{
    font-size: 20px;
    color: #e6e6e6;
    padding-left: 80px;
}
.info{
    position: absolute;
    padding-left: 10%;
    font-size: 20px;
    width: 800px;
     height: 400px;
     margin: 300% 12%; 
    margin-top: 450px; 
    margin-right: 60%;   
    color: rgb(93, 250, 20);
}


.info ul{
    background-color: #72A98F;
    padding-left: 40px;
    
}
.info ul li{
    color: black;
    list-style: none;
}

.sticky{
    position: fixed;
    background: #004854;
    width: 100%;
    margin-left: -4%;
    padding-left: 50px;
    z-index: 1;
    margin-top: 137px;
}

.titleSticky{
    position: fixed;
    background: #11151E;
    width: 100%;
    margin-left: -4%;
    margin-top: 0px;
    padding-left: 372px;
    padding-top: 30px;
    padding-bottom: 37px;
    z-index: 2;
}

.logoSticky{
    position: fixed;
    z-index: 3;
    margin-top: -44px;
}

.chat-bot{
     
    width: 90%; 
    padding-top: 30%; 
    height: auto;
    margin-left: 100px;
    
}