<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>linux Emulator</title>
</head>

<body>
        
        <div class="wrapper">

            <div class="header" >
                <div class="logo" id="myLogo">
                    <img src="{{url_for('static',filename='logo.png')}}" alt="logo" style="width: 140px; margin-top: 50px; margin-left: 80px;">
                </div>
                <div class="welcome-text" id="myTitle">
                    <h1 id="myTitle">LINUX EMULATOR</h1>
                    <p id="myTitle">YOUR ON THE LINUX BUDDY</p>
                </div>
            </div>

            <div id="myNav">
            <ul class="nav-area" >
                <li><a href="{{url_for('home')}}">Comand Information</a></li>
                <li><a href="{{url_for('terminal')}}">Terminal</a></li>
                <li><a href="{{url_for('bot')}}">FAQ chatbox</a></li>
                <li><a href="{{url_for('download')}}">offline version download</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>

            </ul>
            </div>

            <div class="info">
                <h1>BASIC LINUX COMMANDS</h1>
                <br>
                <P >*INFORMATION ABOUT LINUX*
                    <br>
                    <br>
                    LINUX is an operating system or a kernel distributed under an open-source license. Its functionality list is quite like UNIX. The kernel is a program at the heart of the Linux operating system that takes care of fundamental stuff, like letting hardware communicate with software.
                </P>
                <br>
                <Ul style="padding: 20px; margin-bottom: 30px;">
                    <li> <B>Cal</B>
                        <p>To open calender</p>
                    </li><hr>
                    <li> <B> Date</B>
                        <p>Display date</p>
                    </li><hr>
                    <li><B>Jobs</B>
                        <p>Display running jobs / programs</p>
                    </li><hr>
                    <li><B>fg&lt;ProcessId&gt;</B>
                        <p>Start paused process </p>
                    </li><hr>
                    <li><B>&lt;command/process&gt;&</B>
                        <p>& will run command in background </p>
                    </li><hr>
                    <li><B>which&lt;FileName&gt;</B>
                        <p>Gives path of program/code file </p>
                    </li><hr>
                    <li><B>gedit &lt;command/program&gt;</B>
                        <p>Gedit is text editor it will open file with given name
                        </p>
                    </li><hr>
                    <li><B>mkdir &lt;DirName&gt;</B>
                        <p> It will create directory with given name
                        </p>
                    </li><hr>
                    <li><B>rmdir  &lt;DirName&gt;</B>
                        <p> It will remove directory with given name

                        </p>
                    </li><hr>
                    <li><B>cd   &lt;FolderName&gt;</B>
                        <p> Change directory with given folder name or folder path </p>
                    </li><hr>
                    <li><B>cat   &lt;fileName&gt;</B>
                        <p> Display content inside file
                        </p>
                    </li><hr>
                    <li><B>free -m </B>
                        <p>shows memory(RAM) usage

                        </p>
                    </li><hr>
                    <li><B>history  </B>
                        <p> displays previously executed commands   </p>
                    </li><hr>
                   
                </Ul><hr>
<hr>
             
            </div>
        </div>



    <nav class="sidebar" id="sidebar">
        <!-- <div class="text">Basic Linux commands</div> -->
        <ul>
            <li><a href="{{url_for('home')}}">Basic Linux Commands</a></li>

            <li><a href="https://www.thegeekdiary.com/redhat-centos-a-beginners-guide-to-lvm-logical-volume-manager/#:~:text=A%20Logical%20Volume%20is%20the%20conceptual%20equivalent%20of,a%20logical%20volume%20in%20an%20existing%20volume%20group.">LVM commands <br> (Logical Group Volume)</a> </li>
            <li><a href="{{url_for('dockercmmd')}}">Docker commands</a></li>
            <li><a href="{{url_for('appachecmmd')}}">Appache Webserver Commands</a></li>
            <li><a href="https://docs.aws.amazon.com/cli/index.html">AWS Basic Commands</a></li>
        </ul>

    </nav>

    <script>
        window.onscroll=function(){myfunction()};

        var logo=document.getElementById("myLogo");
        var title=document.getElementById("myTitle");
        var nav=document.getElementById("myNav");
        var sidebar=document.getElementById("sidebar");

        var sticky=header.offsetTop;

        function myfunction(){
            if (window.pageYOffset>90){
                nav.classList.add("sticky");
                
                logo.classList.add("logoSticky");

                title.classList.add("titleSticky");
                sidebar.classList.add("stickySidebar");
            }else{
                nav.classList.remove("sticky");
                
                logo.classList.remove("logoSticky");

                title.classList.remove("titleSticky");
                sidebar.classList.remove("stickySidebar");
            }
        }
    </script>




</body>

</html>