<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='js/docker.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Terminal</title>
</head>

<body>
    <div class="wrapper">

        <div class="header" >
            <div class="logo" id="myLogo">
                <img src="{{url_for('static',filename='logo.png')}}" alt="logo" style="width: 140px; margin-top: 50px; margin-left: 80px;">
            </div>
            <div class="welcome-text" id="myTitle">
                <h1 id="myTitle">LINUX EMULATOR</h1>
                <p id="myTitle">YOUR ON THE LINUX BUDDY</p>
            </div>
        </div>

        <div id="myNav">
        <ul class="nav-area" >
            <li><a href="{{url_for('home')}}">Comand Information</a></li>
            <li><a href="{{url_for('terminal')}}">Terminal</a></li>
            <li><a href="{{url_for('bot')}}">FAQ chatbox</a></li>
            <li><a href="{{url_for('download')}}">offline version download</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>

        </ul>
        </div>
    

    <div class="window" style="width: 1000px; height: 600px; position: absolute; margin-top: 300px; color: green; margin-left: 80px; ">
    <div class="inside">
    <div id="terminal">

        <div class="d2">
		<p style="font-size: 20px;">[root@localhost~]#  </p> <input id = "in1" size="75%" placeholder="Enter your command here" style="border-style: none; font-size: 16px; background: black; color: green;">
        </div>
	
		<br /> 
			<pre>
				<div id = "d1" style="font-size: 20px;"> Here we have output... </div> 
			</pre>
    </div>

    <div id="submit_btn" >
	    <button  onclick="docker_cmd()" style="font-size: 17px; height: 30px; width: 85px; border-style: none;">click</button>
    </div>
    </div>
    </div>
</div>

    <script>
        window.onscroll=function(){myfunction()};

        var logo=document.getElementById("myLogo");
        var title=document.getElementById("myTitle");
        var nav=document.getElementById("myNav");

        var sticky=header.offsetTop;

        function myfunction(){
            if (window.pageYOffset>90){
                nav.classList.add("sticky");
                
                logo.classList.add("logoSticky");

                title.classList.add("titleSticky");
            }else{
                nav.classList.remove("sticky");
                
                logo.classList.remove("logoSticky");

                title.classList.remove("titleSticky");
            }
        }
    </script>    
</body>
</html>
